<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">
  <bean id="simplestatelesssessionbean"
        class="fi.eis.applications.jboss.poc.ejb.SimpleStatelessSessionBean">
       <argument>
           <reference interface="fi.eis.applications.jboss.poc.osgiservice.api.MessageService"
                availability="mandatory"></reference>
       </argument>    
  </bean>
  
  <service ref="compositeservicebean" interface="fi.eis.applications.jboss.poc.compositeservice.gemini.api.InformationService"
           depends-on="compositeservicebean">
  </service>
</blueprint>
