<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd"
           >
     <bean id="AnotherHelloWorldServlet"
        class="fi.eis.applications.jboss.poc.wab.AnotherHelloWorldServlet">
        <property name="MessageService" ref="MessageServiceRef"/>
     </bean>
    <service ref="helloworldservletservice" interface="javax.servlet.Servlet"
             depends-on="MessageServiceRef">
    </service>
     
     <reference id="MessageServiceRef"
            interface="fi.eis.applications.jboss.poc.osgiservice.api.MessageService"
            availability="mandatory"
            >
        <reference-listener bind-method="setMessageService" unbind-method="unsetMessageService">
            <ref component-id="helloworldservletservice"/>
        </reference-listener>            
     </reference>
</blueprint>